body {
    background-color: black;
}

.container{
    width: 1000px;
    height: 550px;
    background-color: rgb(236, 142, 236);
    margin: 20px auto;
}

.calculator{
    width: 320px;
    height: 520px;
    background-color: whitesmoke;
    margin: 0 auto;
    top: 20px;
    position:relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0.2), 0 6px 20px 0 
    rgba(0,0,0,0.19);

}
#results{
    height:120px;
}

#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: gray;
}

#keyboard{
    height:400px;
}

.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}
.number, .empty{
    background-color: whitesmoke;
}
.number, .operator{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
    outline:0;
}
button:nth-child(4){
    font-size: 20px;
    background-color:lightcoral;
}
button:nth-child(8){
    font-size: 20px;
    background-color: rgb(109, 206, 206);
}
button:nth-child(12){
    font-size: 20px;
    background-color: lightsalmon;
}
button:nth-child(16){
    font-size: 20px;
    background-color:lightgreen;
}
button:nth-child(20){
    font-size: 20px;
    background-color: rgb(233, 233, 131);
}

